html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    overflow: hide;
}

.container::after {
    display: block;
    content: '';
    clear: both;
}

.editor {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

#json-editor {
    width: 40%;
}

#generated {
    width: 60%;
}
